<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.toy2.dao.Product.ProductStockMapper">
    <!-- count -->
    <select id="count">
        SELECT count(*)
        FROM product_stock
    </select>
    <!-- select -->
    <sql id="select">
        SELECT
        style_num,
        p_size,
        p_stock,
        sale_state,
        created_dt,
        created_id,
        updated_dt,
        updated_id
        FROM product_stock
    </sql>
    <!-- -->
    <select id="selectByStyleNum" parameterType="String" resultType="com.fastcampus.toy2.domain.Product.ProductStockDto">
        <include refid="select" />
        WHERE style_num = #{style_num}
    </select>

    <!-- insert -->
    <!--
    insert into product_stock
    (style_num, p_size, p_stock, sale_state, created_id, updated_id)
    value
    ('7K00000_J08', 270, 10, 'Y', '등록자', '등록자')
    -->
    <insert id="insertProductStock" parameterType="ProductStockDto">
        INSERT INTO product_stock
        (style_num, p_size, p_stock, sale_state, created_id, updated_id)
        VALUE
        (#{style_num}, #{p_size}, #{p_stock}, #{sale_state}, #{created_id}, #{updated_id})
    </insert>
    <!-- update -->
    <update id="changeStock" parameterType="hashMap">
        UPDATE product_stock
        SET p_stock = #{p_stock}
        WHERE style_num = #{style_num}
    </update>
    <!-- delete -->
    <delete id="deleteAll">
        DELETE FROM product_stock
    </delete>
</mapper>
